$text-inputs-background-colors-support-parser: (
    outline-color: null,
    border-color: 'background-inner-color',
    background-color: 'background-inner-color',
    color: 'color',
    focus-outline-color: null,
    focus-border-color: 'background-inner-color',
    focus-background-color: null,
    focus-color: null,
    disabled-border-color: null,
    disabled-background-color: null,
    disabled-color: null,
    placeholder-color: null
) !default;

$text-inputs-background-colors-support-extra-colors-palette: () !default;
$text-inputs-background-colors-support-skip-colors-palette: null !default;

//Datalist
$text-inputs-datalist-background-colors-support-parser: (
    border-color: 'background-inner-color'
) !default;