$text-inputs-background-colors-support-parser: (
    border-color: 'background-inner-color',
    background: 'background-inner-color',
    color: 'color',
    focus-border-color: 'background-inner-color'
) !default;

$text-inputs-background-colors-support-extra-colors-palette: () !default;
$text-inputs-background-colors-support-skip-colors-palette: null !default;

$text-inputs-datalist-background-colors-support-parser: (
    border-color: 'background-inner-color'
);
